/* stylesheet */

@font-face{
  font-family : 'jgs';
  src: url('../../../builds/jgs/jgs5.ttf');
}

* {
  font-family: "jgs";
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
 /* -webkit-user-select: none;  /* Chrome all / Safari all */
 /* -moz-user-select: none;     /* Firefox all */
 /* -ms-user-select: none;      /* IE 10+ */
 /* user-select: none;
 /* pointer-events: none; */
  cursor: none;
  position: absolute;
}

html {
  font-size : 10px;/*20px !important;*/
  line-height: 1rem;/*20px !important;*/
}

body {
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

pre {
}

pre#title {
  background-color: #000;
  color: #FFF;
  left:calc(50vw - 12rem);
  top:calc(50vh - 6rem);
}

.display {
  position: absolute;
}
